@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0px;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $fontColor;
}
p {
  font-size: 1.6rem;
  color: $fontColor;
}
a {
  text-decoration: none;
  color: $secondary;
  font-weight: 500;
}
