<!-- FLASH MESSAGE HERE -->
<% errors.forEach((message) => { %>
<div class="alert alert__danger"><%= message %></div>
<% }) %> <% success.forEach((message) => { %>
<div class="alert alert__success"><%= message %></div>
<% }) %>
