<%- include("includes/header.ejs") %>
<main class="mainContent">
  <div class="container">
    <div class="contentWrapper contentWrapper--extranarrow">
      <div class="contentWrapper">
        <div class="text-center">
          <h2 class="title-showcase border-bottom">
            Sorry, we cannot find that page.
          </h2>
          <p class="lead text-muted">
            You can always visit the
            <a href="/">homepage</a> to get a fresh start.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("includes/footer.ejs") %>
