/* BASE STYLES */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0px;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121; }

p {
  font-size: 1.6rem;
  color: #212121; }

a {
  text-decoration: none;
  color: #01579b;
  font-weight: 500; }

/* MODULES */
/* CONTAINER */
.siteWrapper {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative; }

.contentWrapper {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
  .contentWrapper--narrow {
    max-width: 732px;
    margin: 0px auto; }
  .contentWrapper--extranarrow {
    max-width: 600px;
    margin: 0px auto; }

/* CONTAINER */
.mainContainer {
  position: relative;
  display: flex;
  align-items: center; }
  .mainContainer__narrow {
    max-width: 732px;
    margin: 0px auto; }

.headerWrapper {
  background-color: #eeeeee;
  padding: 1rem; }

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* LOGO */
  /* NAVBAR */
  /* LOGIN FORM */
  /* LINKS */ }
  .header__logo {
    display: flex;
    align-items: center;
    padding: 0px 2rem 0px 0px; }
    .header__logo a {
      font-size: 2rem;
      text-decoration: none;
      color: #424242; }
  .header__navbar {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 2rem; }
    .header__navbar--links {
      list-style: none;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .header__navbar--links li {
        margin-left: 2rem; }
        .header__navbar--links li a {
          font-size: 1.5rem;
          text-decoration: none;
          color: #424242; }
          .header__navbar--links li a:hover {
            border-bottom: 1px dotted #9e9e9e; }
  .header__form {
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header__form--item {
      margin-right: 1rem;
      display: block; }
  .header__links {
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header__links--item {
      margin-right: 1rem;
      display: block; }
    .header__links .header-search-icon {
      margin-right: 1rem;
      color: #424242;
      font-size: 1.6rem; }
    .header__links .header-chat-icon {
      margin-right: 1rem;
      color: #424242;
      font-size: 1.6rem; }
    .header__links .header-profile img {
      width: 32px;
      height: 32px;
      border-radius: 16px; }

.footer {
  background-color: #eeeeee;
  padding: 1rem;
  font-size: 1.4rem; }

.mainContent {
  background-color: #ffffff;
  margin: 0px;
  padding: 4rem 2rem;
  flex-grow: 1; }

.contentWrapper__welcome {
  min-height: 400px;
  padding-left: 5rem; }

.contentWrapper__welcome--noresults h2 {
  font-size: 3.2rem;
  font-weight: 300; }

.contentWrapper__register {
  min-height: 400px;
  padding: 2rem 5rem; }
  .contentWrapper__register .formGroup {
    display: block;
    width: 100%;
    margin-bottom: 1.6rem; }
    .contentWrapper__register .formGroup label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 1.6rem; }
  .contentWrapper__register button {
    margin-top: 4rem; }

.post {
  min-width: 600px; }
  .post__header--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem; }
    .post__header--title-text {
      font-size: 2.4rem;
      font-weight: 500; }
    .post__header--title-buttons {
      display: flex;
      flex-direction: row; }
      .post__header--title-buttons .icon {
        font-size: 1.8rem;
        color: #01579b;
        padding: 0px;
        margin: 0px; }
      .post__header--title-buttons .btnIcon {
        border: none;
        background-color: transparent;
        margin-left: 1rem;
        font-size: 1.8rem;
        color: #8a1c1c;
        padding: 0px;
        margin: 0px;
        margin-left: 1.5rem;
        cursor: pointer; }
  .post__header--meta {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .post__header--meta span {
      margin-left: 1rem;
      font-size: 1.4rem;
      line-height: 0; }
  .post__body p {
    color: #424242;
    font-size: 1.8rem;
    margin-top: 0px;
    text-align: justify; }

.profile__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eeeeee; }
  .profile__header h2 {
    color: #212121;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 0px 2rem 0px 1rem; }
  .profile__header .btn svg {
    margin-left: 1rem; }

.profile__tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* max-width: 680px; */
  font-size: 1.5rem; }
  .profile__tab-radio {
    display: none; }
    .profile__tab-radio:checked + .profile__tab-label {
      font-weight: 500;
      color: #01579b;
      border: 1px solid #01579b;
      border-bottom-color: transparent;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .profile__tab-radio:checked + .profile__tab-label
+ .profile__tab-content {
      display: block; }
  .profile__tab-label {
    padding: 1rem 3rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #eeeeee;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent; }
    .profile__tab-label:hover {
      border: 1px solid #eeeeee;
      border-bottom-color: transparent;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
  .profile__tab-content {
    margin-top: 2rem;
    padding: 0px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    order: 1;
    width: 100%;
    display: none; }
    .profile__tab-content-ul {
      color: #212121;
      margin: 0px;
      padding: 0px;
      list-style: none; }
      .profile__tab-content-ul li {
        margin: 0px;
        border-bottom: 1px solid #eeeeee; }
        .profile__tab-content-ul li a {
          padding: 1.5rem 1.5rem;
          display: flex;
          align-items: center;
          color: #212121; }
          .profile__tab-content-ul li a img {
            margin-right: 1rem; }
          .profile__tab-content-ul li a span {
            font-style: italic;
            color: #616161; }
        .profile__tab-content-ul li:last-child {
          border-bottom: none; }
        .profile__tab-content-ul li:hover {
          background-color: #fafafa;
          cursor: pointer; }

.searchOverlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 500;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(215, 215, 215, 0.911);
  visibility: hidden;
  opacity: 0;
  transform: scale(1.3);
  transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
  will-change: visibility, transform, opacity; }
  .searchOverlay.searchOverlay__visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1); }
  .searchOverlay__top {
    background-color: #ffffff;
    padding: 1.5rem; }
    .searchOverlay__top--icon {
      color: #01579b;
      font-size: 1.4rem;
      margin: 0px;
      margin-right: 10px; }
    .searchOverlay__top--input {
      background-color: transparent;
      border: none;
      font-size: 1.8rem;
      outline: none;
      flex: 1;
      color: #007bff; }
    .searchOverlay__top--close {
      font-size: 2rem;
      cursor: pointer;
      opacity: 0.75;
      line-height: 1;
      color: #292929; }
      .searchOverlay__top--close:hover {
        opacity: 1; }
  .searchOverlay__bottom {
    overflow: auto; }

.liveSearchResults {
  display: block;
  width: 100%;
  height: 100vh;
  margin-top: 1.8rem;
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: scale(1.7); }
  .liveSearchResults.liveSearchResults__visible {
    opacity: 1;
    transform: scale(1); }
  .liveSearchResults__list {
    background-color: #ffffff;
    border-radius: 4px;
    display: block;
    width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }
    .liveSearchResults__list--title {
      padding: 1rem;
      background-color: #7c4dff;
      color: #ffffff;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      font-size: 1.8rem; }
    .liveSearchResults__list ul {
      list-style: none;
      margin: 0px;
      padding: 0px; }
      .liveSearchResults__list ul li {
        border-bottom: 1px solid #eeeeee; }
        .liveSearchResults__list ul li:last-child {
          border-bottom: none; }
          .liveSearchResults__list ul li:last-child a {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px; }
        .liveSearchResults__list ul li a {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1.3rem;
          width: 100%;
          font-size: 1.6rem;
          color: #212121; }
          .liveSearchResults__list ul li a img {
            margin-right: 1rem; }
          .liveSearchResults__list ul li a span {
            margin-left: 0.5rem;
            color: #757575;
            font-size: 1.4rem; }
          .liveSearchResults__list ul li a:hover {
            background-color: #f5f5f5; }

/* FORM CONTROLS */
/* input */
.formControl {
  width: 200px;
  border: 1px solid transparent;
  padding: 0.75rem;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .formControl:focus {
    outline: 0;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .formControl__block {
    display: block;
    width: 100%; }
  .formControl__big {
    padding: 1.2rem 1rem; }

.formGroup {
  display: block;
  width: 100%;
  margin-bottom: 1.6rem; }
  .formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.6rem; }
  .formGroup input,
  .formGroup textarea {
    font-family: "Barlow", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #212121;
    font-size: 1.5rem; }

/* BUTTONS */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  padding: 5px 22px;
  border-radius: 4px;
  background-color: #fafafa;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: background-color 0.2s ease-in-out; }
  .btn:hover {
    background-color: #eeeeee; }
  .btn-primary {
    background-color: #7c4dff;
    color: white; }
    .btn-primary:hover {
      background-color: #6934ff; }
  .btn-secondary {
    background-color: #01579b;
    color: white; }
    .btn-secondary:hover {
      background-color: #014072; }
  .btn-danger {
    background-color: #8a1c1c;
    color: white; }
    .btn-danger:hover {
      background-color: #751818; }
  .btn-block {
    display: block;
    width: 100%; }
  .btn-big {
    padding: 1.2rem 1rem;
    font-size: 1.8rem;
    font-weight: 500; }
  .btn-small {
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    font-weight: 500; }

.text-center {
  text-align: center;
  margin: 0px auto; }

.text-muted {
  color: #757575; }

.lead {
  font-size: 2rem;
  line-height: 1.5; }

.bold {
  font-weight: 400 !important; }

.strong {
  font-weight: 500 !important; }

.text-white {
  color: #fafafa; }

.border-bottom {
  line-height: 1.8;
  border-bottom: 1px solid #eeeeee; }

.mt-lg {
  margin-top: 1.6rem; }

/* ALERT */
.alert {
  display: block;
  width: 70%;
  max-width: 732px;
  margin: 0px auto 2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
  .alert__danger {
    border: 1px solid #f48fb1;
    background-color: #f8bbd0;
    color: #680c35; }
  .alert__success {
    border: 1px solid #a7ffeb;
    background-color: #a7ffeb;
    color: #004037; }
  .alert__small {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    text-align: left;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px; }

.error-list {
  margin: 0px 0px 0px 1rem;
  padding: 0px; }

.avatar-tiny {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin: 0px;
  padding: 0px;
  display: block; }

.title-showcase {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.6; }

/* LOADER */
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.circleLoader {
  opacity: 0;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 10%;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 6px solid rgba(73, 80, 87, 0.2);
  border-top-color: #495057;
  will-change: -webkit-transform, transform;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear; }
  .circleLoader__visible {
    visibility: visible;
    opacity: 1; }
